{# Alert
  ## Variables ##
  # alert_variant – Short description of the whole accordion.
  # alert_closable – List of Accordion items.
  # alert_closable_label – Screen reader label.
  # alert_content – List of Accordion items.
#}
<div variant="{{ alert_variant }}" class="gov-alert">
  <section class="gov-alert__section" {{ alert_variant == "error" ? 'role="alert"' }}>
    <div class="gov-alert__content">
      {{ alert_content }}
    </div>
  </section>
  {% if alert_closable %}
    <div class="gov-alert__close">
      <div aria-label="{{ alert_closable_label|default('Zavřít') }}" hoverable="" size="s" variant="{{ alert_variant }}" class="gov-button" type="base">
        <button class="element" type="button" tabindex="0">
          <span class="gov-icon">
            <span class="gov-icon__holder">
              {{ source('@gov_cz/assets/gov-design-system/gov-icons/basic/x-lg.svg') }}
            </span>
          </span>
        </button>
      </div>
    </div>
  {% endif %}
</div>
