{# Badge
  ## Variables ##
  # badge_variant – Colour variant of the badge.
  # badge_size – Size of badge.
  # badge_tag – Which HTML tag to render the badge – span, button, a.
  # badge_tag_aria_label – Accessibility label for link or button.
  # badge_type – Is the badge solid or outlined.
  # badge_inverse – Is the badge on dark background.
  # badge_content – Badge string.
#}

<div variant="{{ badge_variant|default('primary') }}" size="{{ badge_size|default('m') }}" class="gov-badge" {{ badge_tag != 'span' ? 'hoverable="' }} type="{{ badge_type|'solid' }}" {{ badge_inverse ? 'inverse=""' }}>
  <{{ badge_tag ?? 'span' }} class="element" {{ badge_tag != 'span' && badge_tag_aria_label ? 'aria-label="' ~ badge_tag_aria_label ~ '"'}}>
    {{ badge_content }}
  </{{ badge_tag ?? 'span' }}>
</div>
