{# Breadcrumbs
  ## Variables ##
  # breadcrumbs_accessibility_label – Screen reader description of the whole breadcrumbs.
  # breadcrumbs_items – List of Bradcrumb items.
  # # item.url – the path related to the item.
  # # item.text – the textual content representing the item.
#}

{% if breadcrumbs_items %}
  <div class="gov-breadcrumbs">
    <nav aria-label="{{ breadcrumbs_accessibility_label }}">
      <ul>
        {% for item in breadcrumbs_items %}
          <li>
            {# We don't want to print the icon before the first item.
            But we do want to print it, if there is just one e.g. small screens. #}
            {% if (breadcrumbs_items|length >= 2 and loop.index > 1) or (breadcrumbs_items|length == 1) %}
            <span class="gov-icon" aria-hidden="true">
              <span class="gov-icon__holder">
                {{ source('@gov_cz/assets/gov-design-system/gov-icons/basic/chevron-right.svg') }}
              </span>
            </span>
            {% endif %}
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% elseif not item.url and loop.last %}
              <strong>{{ item.text }}</strong>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
{% endif %}
