{# Infobar
  ## Variables ##
  # infobar_variant – Short description of the whole accordion.
  # infobar_closable – List of Accordion items.
  # infobar_closable_label – Screen reader label.
  # infobar_content – List of Accordion items.
#}
{{ attach_library('gov_cz/gov-infobar') }}
<div variant="{{ infobar_variant }}" class="gov-infobar" data-infobar-id="{{ infobar_id }}">
  <section class="gov-infobar__section" {{ infobar_variant == "error" ? 'role="alert"' }}>
    {% if infobar_icon %}
      <div class="gov-infobar__icon">
        <div class="gov-icon" aria-hidden="true">
          <span class="gov-icon__holder">
            {{ source(infobar_icon, ignore_missing = true) }}
          </span>
        </div>
      </div>
    {% endif %}
    <div class="gov-infobar__content {{- infobar_closable ? ' gov-infobar__content--closable' -}}">
      {% block infobar_main %}
        {{ infobar_content }}
      {% endblock %}
    </div>
  </section>
  {% if infobar_closable %}
    {% if infobar_variant == 'warning' %}
      {% set inverse = FALSE %}
    {% else %}
      {% set inverse = TRUE %}
    {% endif %}
    <div class="gov-infobar__close" data-infobar-close-for="{{ infobar_closed_for }}">
      <div hoverable="" size="s" variant="{{ infobar_variant }}" class="gov-button" type="base" {{ inverse ? 'inverse' }}>
        <button class="element" type="button" tabindex="0" title="{{ 'Close'|t ~ ' ' ~ infobar_closed_for_days|lower }}">
          <span class="gov-icon" aria-hidden="true">
            <span class="gov-icon__holder">
              {{ source('@gov_cz/assets/gov-design-system/gov-icons/basic/x-lg.svg') }}
            </span>
          </span>
        </button>
      </div>
    </div>
  {% endif %}
</div>
